* {       
    font-family: sans-serif;
}
.deals-info{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 90vh;
    grid-template: "t i";
}
.text-wrap{
    margin: 20% auto;
    width: 100%;
    min-width: 100%;
    grid-area: t;
}
.text{
    width: 50%;
    margin: 2% auto;
    text-align: left;
}
.image,.image-yel{
    grid-area: i;
    margin: 2% auto;
    width: 100%;
    height: 90vh;
    min-width: 100%;
}
h1,p,button{
    margin-top: 6%;
    color: #053C4D;
}
p{
    font-size: 18px;
}
.aqua-color{
    color: #00D586;
}
.button-get-started{
    width: 50%;
    background-color:#00D586 ;
    color: white;
    height: 60px;
    border-radius: 30px;
    border: none;
    font-size: x-large;
    padding-bottom: 1%;
    font-weight: 600;    
}
.button-get-started:hover{
    transform: scale(1.5);
}
.deals-img{
    width: 100%;
    height: 90vh;
}
.bg-check{
    background-image: url("https://leadiq.com/images/VideoImageLeft-p-800.png");
    background-size: 25%;
    background-repeat: no-repeat;
}
.work-info{
    width: 100%;
    height: 500px;
}
.center{
    margin: 3% auto;
    width: 70%;
}
.text-video{
    width: 100%;
    text-align: center;
    height: 450px;
}
.yt-video{
    width: 100%;
    height: 450px;
}
.bg-yellow{
    background-image: url("https://leadiq.com/images/Fact-1-Bg.svg");
}
.on-yello-top{
    width: 80%;
    margin: 10%;
    margin-top: 30%;
}
.bg-triangle-yellow{
    background-image: url("https://leadiq.com/images/Fact-2-BG.svg");
}
.transparency{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 90vh;
    grid-template: "i t";
}

#main{
    display: grid;
    border: 1px ;
    height: 100%;
}
 .clear{
    clear: both;
}
.trusted-by{
    border: 1px solid black;
    height: 400px;
    width: 80%;
    margin: 15% 10% 0%;
}
.trusted-by>:nth-child(1){
    color: rgb(24, 24, 87);
    font-size: 30px;
    text-align: center;
    
}
.trusted-by>:nth-child(2),.trusted-by>:nth-child(3){
    color: rgb(24, 24, 87);
    margin-top: 10px;
    text-align: center;
}
.trusted-by>div:nth-child(4)>img{
    height: 150px;
    float: left;
    margin-left: 6%;
    grid-area: a;
}
.trusted-by>div:nth-child(5)>img{
    height: 150px;
    float: left;
    margin-left: 6%;
    grid-area: b;
}
.trusted-by>div:nth-child(6)>img{
    height: 150px;
    float: left;
    margin-left: 6%;
    grid-area: c;
}
.trusted-by>div:nth-child(7)>img{
    height: 150px;
    float: left;
    margin-left: 6%;
    grid-area: d;
}
.trusted-by>div:nth-child(8)>img{
    height: 150px;
    float: left;
    margin-left: 6%;
    grid-area: e;
}
.trusted-by>div:nth-child(9)>img{
    height: 150px;
    float: left;
    margin-left: 6%;
    grid-area: f;
}
.trusted-by>div:nth-child(10)>img{
    height: 150px;
    float: left;
    margin-left: 6%;
    grid-area: g;
}
.trusted-by>div:nth-child(11)>img{
    height: 150px;
    float: left;
    margin-left: 6%;
    grid-area: h;
}
.trusted-by>div:nth-child(12)>img{
    height: 150px;
    float: left;
    margin-left: 6%;
    grid-area: i;
}
.trusted-by>div:nth-child(13)>img{
    height: 150px;
    float: left;
    margin-left: 6%;
    grid-area: j;
}
.review{
    border: 1px solid black;
    background-color: whitesmoke;
    height: 350px;
    margin: 5% 0%;
}
.review>div:nth-child(1){
    border: 1px solid black;
    background-color: whitesmoke;
    height: 300px;
    width: 40%;
    margin: 1% 10%;
    float: left;
}
.review>div:nth-child(1)>button:nth-child(1){
    height: 5%;
    border-radius: 10px;
    margin-top: 3%;
}
.review>div:nth-child(1)>button:nth-child(2),
.review>div:nth-child(1)>button:nth-child(3),
.review>div:nth-child(1)>button:nth-child(4),
.review>div:nth-child(1)>button:nth-child(5){
    height: 5%;
    border-radius: 10px;
    margin-top: 3%;
}
.review>div:nth-child(1)>div:nth-child(6)>img{
    height: 45px;
    margin-top: 6%;
}
.review>div:nth-child(1)>div:nth-child(6)>div{
    font-size: 28px;
    float: right;
    margin-top: 5%;
    color: rgb(24, 24, 87);
}
.review>div:nth-child(1)>div:nth-child(6)>div:nth-child(3){
    width: 90%;
    height: 1px;
    background-color: grey;
}
.review>div:nth-child(1)>div:nth-child(6)>img:nth-child(4){
    height: 80px;
    position: absolute;
    top: 2050px; 
}
.review>div:nth-child(1)>div:nth-child(6)>div:nth-child(5){
    font-size: 20px;
    margin-right: 47%;
    color: rgb(24, 24, 87);
}
.review>div:nth-child(1)>div:nth-child(6)>img:nth-child(6){
    height: 20px;
    position: absolute;
    top: 2115px; 
    left: 310px;
}
.review>div:nth-child(1)>div:nth-child(6)>img:nth-child(7){
    height: 20px;
    position: absolute;
    top: 2115px; 
    left: 330px;
}
.review>div:nth-child(1)>div:nth-child(6)>img:nth-child(8){
    height: 20px;
    position: absolute;
    top: 2115px; 
    left: 350px;
}
.review>div:nth-child(1)>div:nth-child(6)>img:nth-child(9){
    height: 20px;
    position: absolute;
    top: 2115px; 
    left: 370px;
}
.review>div:nth-child(1)>div:nth-child(6)>img:nth-child(10){
    height: 20px;
    position: absolute;
    top: 2115px; 
    left: 390px;
}
.review>div:nth-child(1)>div:nth-child(6)>div:nth-child(11){
    font-size: 20px;
    margin-left: 47%;
    color: rgb(24, 24, 87);
}
.review>div:nth-child(1)>div:nth-child(6)>div:nth-child(11):hover{
   color: #16DB93;
}
.review>div:nth-child(2){
    border: 1px solid black;
    background-color: whitesmoke;
    height: 300px;
    width: 25%;
    margin: 1% 5%;
    float: left;
}
.review>div:nth-child(2)>div:nth-child(1)>img{
    height: 150px;
    float:left;
    margin-left: 2%;
    margin-top: 2%;
    grid-area: k;
}
.review>div:nth-child(2)>div:nth-child(2)>img{
    height: 150px;
    float:left;
    margin-left: 2%;
    margin-top: 2%;
    grid-area: l;
}
.review>div:nth-child(2)>div:nth-child(3)>img{
    height: 150px;
    float:left;
    margin-left: 2%;
    margin-top: 2%;
    grid-area: m;
}

.review>div:nth-child(2)>div:nth-child(4)>img{
    height: 150px;
    float:left;
    margin-left: 2%;
    margin-top: 2%;
    grid-area: n;
}

.review>div:nth-child(2)>div:nth-child(5)>img{
    height: 150px;
    float:left;
    margin-left: 2%;
    margin-top: 2%;
    grid-area: o;
}
.review>div:nth-child(2)>div:nth-child(6)>img{
    height: 150px;
    float:left;
    margin-left: 2%;
    margin-top: 2%;
    grid-area: p;
}
.images{
    border: 1px solid black;
    height: 50px;
    margin: 6% 0%;
}
.images>div:nth-child(1)>img{
    height: 50px;
    float: left;
    margin-left: 11%;
}
.images>div:nth-child(2)>img,.images>div:nth-child(3)>img,.images>div:nth-child(4)>img,.images>div:nth-child(5)>img,
.images>div:nth-child(6)>img,.images>div:nth-child(7)>img,.images>div:nth-child(8)>img,.images>div:nth-child(9)>img,
.images>div:nth-child(10)>img,.images>div:nth-child(11)>img,.images>div:nth-child(12)>img,.images>div:nth-child(13)>img,
.images>div:nth-child(14)>img,.images>div:nth-child(15)>img,.images>div:nth-child(16)>img,.images>div:nth-child(17)>img,
.images>div:nth-child(18)>img{
    height: 50px;
    float: left;
    margin-left: 1%;
}
.images>div>img:hover{
    transform: scale(1.5);
}

.icons{
    border: 1px solid black;
    height: 400px;
    margin: 10% 32% 5%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsaBun0tf4wlOc0WqbaRJt_z8hfbez39s7_A&usqp=CAU");
    position: relative;
} 
.icons>div:nth-child(1)>img{
    height: 130px;  
    position: relative;
    top: 250px;
    right: 110px;
}
.icons>div:nth-child(2)>img{
    height: 110px;  
    position: relative;
    top: 140px;
    left: 10px;
    
}
.icons>div:nth-child(3)>img{
    height: 130px; 
    position: relative;
    top: 50px;
    left: 140px; 
}
.icons>div:nth-child(4)>img{
    height: 110px; 
    position: relative;
    bottom: 40px;
    left: 280px; 
}
.icons>div:nth-child(5)>img{
    height: 130px;
    position: relative;
    bottom: 210px;
    left: 400px;   
}
.icons>div:nth-child(6)>img{
    height: 130px;  
    position: relative;
    bottom: 350px;
    left: 530px; 
}
.second-last{
    border: 1px solid red;
    height: 300px;
    text-align: center;
}
.second-last>div:nth-child(1){
    color: rgb(24, 24, 87);
    font-size: 30px;
}
.second-last>div:nth-child(2){
    color: rgb(24, 24, 87);
    font-size: 16px;
    margin: 2% 25% 0%;
}
.second-last>button:nth-child(3){
    width: 20%;
    background-color:#00D586 ;
    color: white;
    height: 60px;
    border-radius: 30px;
    border: none;
    font-size: x-large;
    padding-bottom: 1%;
    font-weight: 600;    
}
.second-last>button:nth-child(3):hover{
    transform: scale(1.5);
}
.last{
    border: 1px solid red;
    height: 350px;
    background-color: whitesmoke;
    margin-top: 10%;
}
.last>div:nth-child(1){
    margin-top: 4%;
    margin-left: 20%;
    float: left;
}
.logo-box>div:nth-child(2){
    margin-top: 10%;
}
.sites>img{
    margin-top: 10%;
    height: 25px;
    border: none;
}
.last>div:nth-child(2){
    margin-top: 4%;
    margin-left: 1%;
    float: left;
}
.details{
    font-size: 17px;
    border: none;
    color: rgb(24, 24, 87);
    margin-bottom: 1%;
}
.details:hover{
    color: #16DB93;
}
.last>div:nth-child(3){  
    margin-top: 4%;
    margin-left: 42%;
    font-size: 13px;
}
.last>div:nth-child(3)>div:nth-child(1){
    font-size: 15px;
    color: rgb(24, 24, 87);
}
.last>div:nth-child(3)>button:nth-child(2),
.last>div:nth-child(3)>button:nth-child(4),
.last>div:nth-child(3)>button:nth-child(6){
    font-size: 17px;
    color: rgb(24, 24, 87);
    margin-top: 2%;
    border: none;
}
.last>div:nth-child(3)>button:nth-child(2):hover,
.last>div:nth-child(3)>button:nth-child(4):hover,
.last>div:nth-child(3)>button:nth-child(6):hover{
    color: #16DB93;
}
.last>div:nth-child(4){
    margin-top: 7%;
    margin-left: 40%;
}
  
body{
    margin: 0;
    padding:0;
}
header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 130px;
    background-color: rgb(246, 246, 246);
}
header .logo{
    float: left;
    padding: 20px 5px;
    width: 20%;
    margin-left: 2%;
}
header nav{
    float: right;
    padding-top:5%;
    width: 70%;
}
header nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}
header nav ul li{
    list-style: none;
    width: 100px;
    margin: 0;
}
header nav ul li a{
    text-decoration: none;
    color: rgb(3, 10, 4);
}
header nav ul li a:hover{
    color: #00D586;
    
}
.btn{
    width: 150px;
    height: 30px;
    margin-right: 15%;            
}
button{
    width: 140px;
    height: 30px;
    color: white;
    background-color: #00D586;
    border: none;
    outline: none;
    font-weight: 300;
    padding:5px 20px;
    border-radius: 15px;
}
.menu{
    float: right;
    cursor: pointer;
    line-height: 50px;
    font-size: 24px;
    width: 50px;
    margin-right: 3%;
    padding-top:3%;
    display: none;
    color: #00D586;
}
.line{
    width: 100%;
    height: 5px;
    background-color: thistle;
}
@media (max-width: 700px) {
    header{
        padding: 0 20px;
        text-align: center;
    }
    .menu{
        color: #00D586;
        display: block;
    }
    header nav {
        /* display: none; */
        position: absolute;
        width: 100%;
        top:50px;
        height: 70vh;
        left: 0;
    }
   
    #list{
        display: none;
        text-align: center;
        margin-left: 30%;
    }
    header nav ul li{
        margin:40px
    }
}
@media(min-width: 701px){
    header nav {
        display: block;
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.deals-info{
grid-template: "t"
                "i";
}
.button-get-started{
width: 150px;
}
.text{
    width: 90%;
}
.transparency{
grid-template: "i"
                "t";
}

} 

